.container_task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;


}

.box_task {
    width: 51.11%;
    height: 40.03vh;
    display: flex;
    flex-direction: column;


}

.header {
    justify-self: flex-start;

    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-self: flex-start;
}

.header span {
    font-size: 1rem;
}

.count_form {
    padding: 0px 10px;
    border-radius: 999px;
    color: var(--gray-200);
    background-color: var(--gray-400);
}

.create_task_label {
    color: var(--blue);
    font-weight: bold;
    margin: 5px;
}

.complete_task_label {
    color: var(--purple);
    font-weight: bold;
    margin: 5px;
}





/* Empty */

.empty_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30;
    background-color: rgba(102, 51, 153, 0);
    font-size: 1rem;
    padding: 20px;
    border-top: 1px solid var(--gray-400);
    border-radius: 10px;
    color: var(--gray-300);
}

.empty_box img {
    width: 5.5rem;
    height: 5.5rem;
    margin: 30px;

}

.empty_title {
    font-weight: bold;
}

.list_task {
    list-style: none;
    margin-top: 30;

    padding: 10px;
}

.list_task li {
    font-size: 1rem;
    margin: 20px 0px;
    padding: 20px;
    background-color: var(--gray-500);
    border-radius: 10px;
    position: relative;
}

.list_task li input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0px 10px;
    width: 1rem;
    height: 1rem;
    border-radius: 999px;
    background-color: var(--gray-400);
    border: 2px solid var(--blue);
    cursor: pointer;
    position: relative;
}

.list_task li input[type="checkbox"]:hover {
    background-color: var(--blue-dark);
}

.list_task li input[type="checkbox"]:checked {
    background-color: var(--purple);
}
.list_task li input[type="checkbox"]:checked:hover {
    background-color: var(--purple-dark);
}

.list_task li input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
    color: white;
    font-weight: bold;
    line-height: 1;
}

.list_task li input[type="checkbox"]:checked + .text_task {
    color: var(--gray-300);
    text-decoration: line-through;
}

.icon_trash {
    cursor: pointer;

    position: absolute;
    left: 98%;

}

.icon_trash:hover {
    scale: 1.1;
    filter: brightness(0.5) sepia(1) saturate(5) hue-rotate(0deg);
    cursor: pointer;
}